.client {
  padding: 5px 20px 5px 10px;
  border: 1px solid var(--color-secondary);
  background: var(--color-white);
  display: flex;
  justify-content: space-between;

  &__title {
    width: 100%;
    padding: 15px 20px 15px 10px;

    &[readonly] {
      border-color: transparent;

      &:focus-within {
        outline-color: transparent;
      }
    }
  }

  &__edit,
  &__delete {
    padding: 15px 10px;
    font-size: 1.25rem;
    color: var(--color-secondary);
    border-left: 1px dotted var(--color-secondary);
  }

  &__edit {
  }

  &__delete {
  }
}
