.clients {
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__headline {
    margin: 0 0 40px;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
  }

  &__filters {
  }

  &__select,
  &__input {
    padding: 8px 10px;
    border: 1px solid var(--color-surface);
    font-size: 0.875rem;
    font-family: inherit;
    margin-right: 10px;
  }

  &__select {
  }

  &__input {
  }

  &__create {
  }

  &__add {
  }

  &__container {
    margin-top: 20px;

    &[data-status="archived"] {
      .client[data-status="active"] {
        //opacity: 0.25;
        //text-decoration: line-through;
        display: none;
      }
      .client[data-status="archived"] {
        text-decoration: line-through;
      }
    }
    &[data-status="active"] {
      .client[data-status="archived"] {
        //opacity: 0.25;
        //text-decoration: line-through;
        display: none;
      }
    }
  }

  &__label {
    margin: 0;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: var(--color-surface);
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    font-size: 0.75rem;
  }
}
