.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 1rem;
}

.header__column {
  display: flex;
  align-items: center;
}

.header__toggle {
  font-size: 2rem;
}

.header__logo {
  width: 100px;
  margin-left: 1em;
}

.header__notifications {
  font-size: 1.5rem;
  position: relative;
  padding-top: 5px;
}

.header__new-notifications {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: orange;
  color: white;
  font-size: 0.75rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(40%, 0%);
}

.header__account {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  cursor: pointer;

}