<!-- Clients -->
<section class="clients">
  <header class="clients__header">
    <h2 class="clients__headline">{{ title }}</h2>

    <div class="clients__filters">
      <select
        name="clients_filter"
        id=""
        class="clients__select"
        [(ngModel)]="currentStatus"
      >
        <option value="active">Show active</option>
        <option value="archived">Show archived</option>
        <option value="">Show all</option>
      </select>
      <input
        type="search"
        class="clients__input"
        name="clients_search"
        placeholder="Search by name"
        [(ngModel)]="query"
      />
    </div>
    <form (submit)="onAdd()" action="#nowhere" class="clients__create">
      <input
        type="text"
        name="create_client"
        class="clients__input"
        placeholder="Add new client"
        [(ngModel)]="newClientName"
      />
      <button
        type="submit"
        class="button clients__add"
        [attr.disabled]="newClientName.length < 3 ? 'disabled' : null"
      >
        Add
      </button>
    </form>
  </header>
  <div class="clients__container" [attr.data-status]="currentStatus">
    <p class="clients__label">Name</p>

    <app-client
      *ngFor="let client of clients"
      [info]="client"
      [search]="query"
    ></app-client>
  </div>
</section>
