<ul class="sidebar__list">
  <li class="sidebar__item" *ngFor="let item of sidebar1">
    <a [routerLink]="item.url" class="sidebar__link">
      <span class="material-icons">{{ item.icon }}</span>
      {{ item.text }}
    </a>
  </li>
</ul>
<p class="sidebar__title">Analyze</p>
<ul class="sidebar__list">
  <li class="sidebar__item" *ngFor="let item of sidebarAnalyze">
    <a [routerLink]="item.url" class="sidebar__link">
      <span class="material-icons">{{ item.icon }}</span>
      {{ item.text }}
    </a>
  </li>
</ul>
<p class="sidebar__title">Manage</p>
<ul class="sidebar__list">
  <li class="sidebar__item" *ngFor="let item of sidebarManage">
    <a [routerLink]="item.url" class="sidebar__link">
      <span class="material-icons">{{ item.icon }}</span>
      {{ item.text }}
    </a>
  </li>
</ul>
