<ul class="sidebar__list">
  <li class="sidebar__item">
    <a href="#nowhere" class="sidebar__link">
      <span class="material-icons">schedule</span>
      Time Tracker
    </a>
  </li>
  <li class="sidebar__item">
    <a href="#nowhere" class="sidebar__link">
      <span class="material-icons">calendar_today</span>
      Calendar
    </a>
  </li>
</ul>
<p class="sidebar__title">Analyze</p>
<ul class="sidebar__list">
  <li class="sidebar__item">
    <a href="#nowhere" class="sidebar__link">
      <span class="material-icons">grid_view</span>
      Dashboard
    </a>
  </li>
  <li class="sidebar__item">
    <a href="#nowhere" class="sidebar__link">
      <span class="material-icons">bar_chart</span>
      Reports
    </a>
  </li>
</ul>
<p class="sidebar__title">Manage</p>
<ul class="sidebar__list">
  <li class="sidebar__item">
    <a href="#nowhere" class="sidebar__link">
      <span class="material-icons">article</span>
      Projects
    </a>
  </li>
  <li class="sidebar__item">
    <a routerLink="/team" class="sidebar__link">
      <span class="material-icons">groups</span>
      Team
    </a>
  </li>
  <li class="sidebar__item">
    <a routerLink="/clients" class="sidebar__link">
      <span class="material-icons">person</span>
      Client
    </a>
  </li>
  <li class="sidebar__item">
    <a href="#nowhere" class="sidebar__link">
      <span class="material-icons">local_offer</span>
      Tags
    </a>
  </li>
  <li class="sidebar__item">
    <a href="#nowhere" class="sidebar__link">
      <span class="material-icons">settings</span>
      Settings
    </a>
  </li>
</ul>
