<section class="team">
  <form
    action="#nowhere"
    class="team__create"
    (submit)="onAdd()"
    #createMember="ngForm"
  >
    <input
      type="text"
      name="create_member_name"
      class="clients__input"
      placeholder="New member name"
      [(ngModel)]="newMemberName"
      minlength="3"
    />
    <input
      type="email"
      name="create_member_email"
      class="clients__input"
      placeholder="New member email"
      [(ngModel)]="newMemberEmail"
      email
    />
    <select name="roles" id="" [(ngModel)]="newMemberRole" required>
      <option value="Project Manager">Project Manager</option>
      <option value="Frontend Developer">Frontend Developer</option>
      <option value="Backend Developer">Backend Developer</option>
      <option value="UI Designer">UI Designer</option>
      <option value="UX Designer">UX Designer</option>
      <option value="Tech Lead">Tech Lead</option>
      <option value="QA">QA</option>
    </select>
    <button
      type="submit"
      class="button clients__add"
      [disabled]="!createMember.form.valid"
    >
      Add
    </button>
  </form>
  <header class="team__header">
    <h2 class="team__headline">Members</h2>
  </header>
  <table class="team__table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Billable rate</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <td>{{ member.name }}</td>
        <td>{{ member.email }}</td>
        <td class="team__rate">
          <input
            type="number"
            name="team_member_1"
            [attr.data-id]="member.id"
            [(ngModel)]="member.rate"
            (change)="onInputChange(member)"
          />
          <span>€</span>
        </td>
        <td>
          <span class="team__role" [attr.data-role]="member.role">{{
            member.role
          }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</section>
